html, body{
  background-color: #ffffff;
}


.menu {
	position:fixed;
	width:250px; height:400px;
	top:60px; right: 10px;
	background:none;
}

.menu a {
	color: black;
}

.scale {
	position:fixed;
	width:110px; height:60px;
	bottom:20px; right: 60px;
}

.controlBar {
  position: fixed;
margin: auto;
top: 2px;
right: 0;
left: 0;
width: 1000px;
height: 80px;
background-color: #ffffff;
border-radius: 3px;
border-width: medium;
border-style: solid;
border-color: #000000;
}

.controlBarButton:not(.white) {
  fill: black;
}

.white.controlBarButton {
  fill: white;
}
